<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="/login" routerLinkActive="active" (click)="logNavigation('Login')" class="navbar-link">Login</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/chat" routerLinkActive="active" (click)="logNavigation('Chat')" class="navbar-link">Chat</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/group" routerLinkActive="active" (click)="logNavigation('Groups')" class="navbar-link">Groups</a>
    </li>
  </ul>
</nav>
<a routerLink="/login" routerLinkActive="active" class="navbar-link">Login</a>

<main style="padding-top: 50px;">
  <router-outlet></router-outlet>
</main>
